@charset "UTF-8";


/***************** CHAMADA DO CSS GRIDE ***********************/
.cor{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6);
  }
  * {
      box-sizing: border-box;
  }
  .row::after {
      content: "";
      clear: both;
      display: table;
  }
  [class*="col-"] {
      float: left;
      padding: 15px;
  }
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-10 {width: 83.33%;}
  .col-12 {width: 100%;}
  /******************** ESTILOS PADRÃO ****************************/
  h1, h2{
      color: orange;
    text-align:center;
  }
  a{
    color:white;
  }
  a:hover{
    color: orange;
  }
  header {
    background: #584b4f;
    height: 90px;
    width: 100%;
    position: absolute;
  }
  header {
    position: relative;
  }
  footer {
    display: block;
    position: relative;
      background: #584b4f;
  }
  footer img{
    margin: 1% 2%;
    float:left;
    width: 2.6%;
    height:auto;
  }
  footer img:hover{
    border-radius: 50%;
    box-shadow: 0 0 10px 1px orange;
  }
  footer p{
    margin: 0% 0% 0% 15%;
  }
  /**************** PADRÃO DO MENU********************/
.logo1{
    width: 4%;
    height:auto;
    margin: 14px 0 0 8%;
  }
  .logo{
    width: 4%;
    height:auto;
    margin: 14px 0 0 8%;
  }
  .menu {
    position: absolute;
    right: 0;
    top: -.5em;
  }
  .menu ul {
    margin: 2% 0 0 30% ;
  }
  .menu li {
    padding: 0% 1%;
    margin:0 2%;
    display: inline-block;
  }
  .menu a {
    font-size: 20px;
    text-decoration: none;
  }
  /************************* PAGINA HOME **************************/
.video{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	background-size: cover;
}
.destaque p {
  padding: 10%;
  margin-bottom: 8%;
  font-size: 170%;
}
.lista button {
  width: 70%;
  height: auto;
  color: #ffffff;
  background: #fe9b00;
  border: 0;
  padding:3.5%;
  border-radius: 8px;
  font-weight: bold;
}
.lista{
  width: 11%;
  height: 237px;
	margin: 10% 10% 8% 10%;
	background-color: rgba(0, 0, 0, 0.4);
	font-size: 20px;
	padding: 10px 0px 10px 0px ;
	text-align: center;
	list-style: none;
	border-radius: 20px;
	border: 2px solid #584b4f;
}
.lista li{
    margin: 10px 0px;
    padding: 10px ;
    border-left: none;
    border-bottom: 2px solid #4e4b4d;
    border-radius: 20px;
}
/***********************PAGINA APLICATIVO*******************/
.prircipal{
    width:100%;
    height: auto;
  }
  h1{
    text-align: center;
  }
  .direito{
    margin: 5% 0% 0% 5%;
  }
  .esquerdo{
    margin: 5% 0% 0% 0%;
  }
  .esquerdo p{
    margin: 0% 0% 20% 0%;
  }
  .direito p{
    margin: 0% 0% 10% 0%;
  }