@charset "UTF-8";
*, html, body {/************************* PAGINA DA HOME **************************/
    .video{
        display:none;
    }
    .col-7{
      width: 100%;
    }
    section article {
      font-size: 70%;
      position:relative;
      top:200px;
        width: 100%;
        /*height:700px; desse o footer*/
    }
    section .destaque{
        width: 100%;
        height: 600px;
    }
    article .texto{
      padding: 0%;
      font-size: 170%;
      font-weight: none;
    }
    article .col-7{
      width: 100%;
        position: relative;
        bottom: 35px;
    }
    article br{
      display:none;
    }
    p a{
      color: orange;
    }
    article .col-2{
      width:50%;
    }
    /*lista */
    .lista button {
      width: 70%;
      height: auto;
      color: #ffffff;
      background: #fe9b00;
      border: 0;
      padding:3.5%;
      border-radius: 8px;
      font-weight: bold;
    }
    article .lista{
        height: 250px;
        margin:5% 25% 20% 27%;
        background-color: rgba(0, 0, 0, 0.4);
        font-size: 20px;
        padding: 0px;
        text-align: center;
        list-style: none;
        border-radius: 20px;
        border: 2px solid #584b4f;
    }
    .lista li+li{
        padding: 10px 0;
        border-left: none;
        border-top: 2px solid #4e4b4d;
    }
    article .lista li {
        border-bottom: none;
    }
    /***********************PAGINA APLICATIVO*******************/
    section .col-4{
        width: 100%;
      margin: 0px;
    
    }
    section figure{
        position:relative;
        top:180px;
    
    }
    h1{
        margin: 0px;
      position:relative;
        top:135px;
    }
    h2{
        color: orange;
    }
    section .direito{
        width: 100%;
        height:400px;
        padding:10%;
        margin: 0px;
        position: relative;
        left: -0.5px;
        top:125px;
    }
    .direito p{
      font-size: 170%;
    }
    section .esquerdo{
        width: 100%;
        height:320px;
        padding:10%;
        margin: 0px;
        position: relative;
        left: -0.5px;
        top:125px;
    }
    .esquerdo p{
      font-size: 170%;
    }
	margin:0;
	padding:0;
	}
/**** posicionamento do logo ****/
header .logo1{
  width: 50%;
  height:auto;
  margin: 0px 0 0 0px;
  position: relative;
  top:275px;
  left: 25%;
  z-index: -1000;
}
body section{
	width:100%;
	height: 900px;
}
/**************** PADRÃO DO MENU********************/
.menu ul {
    list-style-type: none;
    padding: 0;
}
li a {
    display: block;
    color: white;
    padding: 8px 16px;
    width:100%;
}
section nav{
 background:#584b4f;
}
nav ul li{
  width: 100% ;
}
nav ul{
  position: relative;
  left: -35%;
}
/************ padrão para o footer *****************/
section footer {
    text-align: center;
    display: block;
    position: relative;
      top:200px;
    background: #584b4f;
  }
  footer a img{
    position:relative;
    left: 29%;
    margin: 1% 2%;
    float:left;
    width: 8%;
    height:auto;
    }
  footer p{
    margin: 0px;
    text-align: center;
    display: block;
    position: relative;
    left: 4%;
      background: #584b4f;
  }
  footer .col-4{
    width: 75%;
    margin: 0px;
    padding: 5px;
  }
